* {
  box-sizing: border-box;
}

body {
  padding: 2rem;
  padding-right: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

.box1 {
  background-color: rgb(86, 5, 110);
  padding: 0.5rem;
  color: white;
  font-family: "Roboto", sans-serif;
}

.box2 {
  background-color: rgb(14, 88, 7);
  padding: 0.5rem;
  color: white;
  font-family: "Roboto", sans-serif;
}

.box3 {
  background-color: rgb(7, 9, 99);
  padding: 0.5rem;
  color: white;
  font-family: "Roboto", sans-serif;
}

.card1 {
  width: 260px;
  height: 280px;
  border: #ccc solid;
  border-top: 6px solid rgb(103, 5, 133);
  padding: 1rem;
  line-height: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}
.card1:hover {
  background-color: #ffc80086;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card2 {
  width: 260px;
  height: 280px;
  border: #ccc solid;
  border-top: 6px solid rgb(17, 117, 8);
  padding: 1rem;
  line-height: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}
.card2:hover {
  background-color: #ffc80086;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card3 {
  width: 260px;
  height: 280px;
  border: #ccc solid;
  border-top: 6px solid rgb(9, 11, 139);
  padding: 1rem;
  line-height: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}
.card3:hover {
  background-color: #ffc80086;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4.3rem;
}

.cards:hover {
  cursor: pointer;
}

.negrito {
  font-weight: bolder;
}

.font {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
